monitoring/n8n-backups/EIbI86eRYgx1u1DK.json
{"updatedAt":"2026-04-11T13:51:51.151Z","createdAt":"2026-04-04T17:08:10.942Z","id":"EIbI86eRYgx1u1DK","name":"Soul Journeys — Upload to Bunny Stream & Update Paddle","description":"Automating uploads to Bunny Stream Service.","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3e0d7547-5b33-4c1d-bf36-e90d29c7f127","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2800,-400]},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"name = 'JOURNEYS-BUNNY' and mimeType = 'application/vnd.google-apps.folder' and trashed = false","returnAll":true,"filter":{},"options":{}},"id":"716d4ab1-351c-4c33-b24b-53f6c2ff48ca","name":"Find JOURNEYS-BUNNY Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2608,-400],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name = 'uploaded' and mimeType = 'application/vnd.google-apps.folder' and trashed = false and '{{ $('Find JOURNEYS-BUNNY Folder').first().json.id }}' in parents","returnAll":true,"filter":{},"options":{}},"id":"a499146f-b923-455a-827a-8e42577634df","name":"Find uploaded Subfolder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2400,-400],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"cond-has-uploaded","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"736d73da-85f8-42f4-bb9c-8e2eafa09128","name":"Has uploaded Folder?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2208,-400]},{"parameters":{"assignments":{"assignments":[{"id":"a-uploaded-folder-id","name":"uploadedFolderId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"b773ad40-d5c9-4dec-bfdc-34ca892e3ed8","name":"Set uploadedFolderId","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,-400]},{"parameters":{"url":"https://api.paddle.com/products?per_page=200","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"5f075cf6-7cf9-4c3c-ab4d-57adb3f94e84","name":"Paddle Get Products","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-400],"credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=mimeType contains 'video/' and trashed = false and '{{ $('Find JOURNEYS-BUNNY Folder').first().json.id }}' in parents","returnAll":true,"filter":{},"options":{}},"id":"86310080-67a5-4e9b-a43d-0f12381e86bd","name":"List Drive Video Files","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1408,-400],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}},{"parameters":{"jsCode":"let uploaded = [];\ntry { uploaded = $('Record Uploaded').all().map(i => i.json); } catch (e) { uploaded = []; }\nlet skipped = [];\ntry { skipped = $('Record Skipped').all().map(i => i.json); } catch (e) { skipped = []; }\nconst skippedExisting = skipped.filter(s => s.skipReason === 'already_uploaded');\nconst skippedNoMatch = skipped.filter(s => s.skipReason === 'no_match');\nreturn [{\n  json: {\n    summary: {\n      uploadedCount: uploaded.length,\n      skippedExistingCount: skippedExisting.length,\n      skippedNoMatchCount: skippedNoMatch.length,\n    },\n    uploaded,\n    skippedExisting,\n    skippedNoMatch,\n  }\n}];\n"},"id":"7a3685ec-fdab-4419-975a-c37c46baf244","name":"Build Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,-208]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\nconst fileName = (item.name || '').replace(/\\.[^/.]+$/, '');\nconst products = $('Paddle Get Products').first().json.data || [];\nconst norm = s => (s || '').toLowerCase().replace(/[^a-z0-9]/g, '');\nconst fileNameNorm = norm(fileName);\nconst match = products.find(p => norm(p.name) === fileNameNorm);\nif (!match) {\n  return { json: { skip: true, skipReason: 'no_match', fileName, fileId: item.id } };\n}\nreturn { json: { skip: false, fileName, fileId: item.id, productId: match.id } };\n"},"id":"00ecccf4-c482-46e9-b559-a467117336df","name":"Find Product by Filename","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,-400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-process","leftValue":"={{ $json.skip }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c60b9457-dfe5-49a0-8d81-bf3fe7a8f7c2","name":"Should Process?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-800,-400]},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.fileId }}"},"options":{"binaryPropertyName":"data"}},"id":"9b52f884-e9fa-432a-8125-bdc85e9405b5","name":"Download Drive File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-608,-496],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"=https://video.bunnycdn.com/library/477336/videos","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $('Find Product by Filename').item.json.fileName }}\",\n  \"collectionId\": \"e3af4588-eb10-4cca-916a-6c4eaaaf97d4\"\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"id":"6d4a223a-601f-4f43-b8c5-42ed87c5e312","name":"Bunny Create Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-400,-496],"credentials":{"httpHeaderAuth":{"id":"PdoTNunjuqm2abh1","name":"Bunny.net Header Auth Library SJ (477336)"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const createJson = $input.item.json;\nconst downloadBinary = $('Download Drive File').item.binary;\nreturn { json: createJson.body, binary: downloadBinary };"},"id":"2f9b7475-62b7-4101-a7f3-dc632284e928","name":"Attach Binary to Create Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-496]},{"parameters":{"method":"PUT","url":"=https://video.bunnycdn.com/library/477336/videos/{{ $json.guid }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/octet-stream"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"fullResponse":true}}}},"id":"a9842994-a1cc-49c7-b498-fc923becf4b3","name":"Bunny Upload File","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,-496],"credentials":{"httpHeaderAuth":{"id":"PdoTNunjuqm2abh1","name":"Bunny.net Header Auth Library SJ (477336)"}}},{"parameters":{"assignments":{"assignments":[{"id":"a-play-url","name":"play_url","value":"=https://iframe.mediadelivery.net/play/477336/{{ $('Bunny Create Video').item.json.body.guid }}","type":"string"},{"id":"a-product-id","name":"productId","value":"={{ $('Find Product by Filename').item.json.productId }}","type":"string"},{"id":"a-file-id","name":"fileId","value":"={{ $('Find Product by Filename').item.json.fileId }}","type":"string"},{"id":"a-file-name","name":"fileName","value":"={{ $('Find Product by Filename').item.json.fileName }}","type":"string"}]},"options":{}},"id":"1c27448c-e34c-4b9f-ad7f-52546e19755a","name":"Set play_url","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-496]},{"parameters":{"method":"PATCH","url":"=https://api.paddle.com/products/{{ $json.productId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_data\": {\n    \"play_url\": \"{{ $json.play_url }}\",\n    \"validity_days\": 30\n  }\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"9912b474-d1f5-4bbe-bdb5-6105ca2aa7a6","name":"Paddle Update Product","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,-496],"credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('Find Product by Filename').item.json.fileId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Set uploadedFolderId').first().json.uploadedFolderId }}"}},"id":"5d5021ef-7644-4059-b7e1-c828dbecc276","name":"Move File to uploaded","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,-496],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a-status","name":"status","value":"uploaded","type":"string"},{"id":"a-file","name":"fileName","value":"={{ $('Find Product by Filename').item.json.fileName }}","type":"string"},{"id":"a-product","name":"productId","value":"={{ $('Find Product by Filename').item.json.productId }}","type":"string"}]},"options":{}},"id":"dc8ee922-da16-41c3-b9af-dfa18fb1de07","name":"Record Uploaded","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-496]},{"parameters":{"options":{}},"id":"99969f57-3424-4014-b1ea-ac9e3c52b5e5","name":"Loop Over Files","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1200,-400]},{"parameters":{"assignments":{"assignments":[{"id":"a-status","name":"status","value":"={{ $json.skipReason === 'already_uploaded' ? 'skipped_existing' : 'skipped_no_match' }}","type":"string"},{"id":"a-file","name":"fileName","value":"={{ $json.fileName }}","type":"string"},{"id":"a-reason","name":"skipReason","value":"={{ $json.skipReason }}","type":"string"}]},"options":{}},"id":"8f917bf3-f082-485e-8a9f-32607092c496","name":"Record Skipped","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-304]},{"parameters":{"resource":"folder","name":"uploaded","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Find JOURNEYS-BUNNY Folder').first().json.id }}"},"options":{}},"id":"1277f2b9-48f3-42aa-b483-71378e3e8751","name":"Create uploaded Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2000,-304],"credentials":{"googleDriveOAuth2Api":{"id":"6CaRRCSXvmXZZjCP","name":"Google Drive account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Find JOURNEYS-BUNNY Folder","type":"main","index":0}]]},"Find JOURNEYS-BUNNY Folder":{"main":[[{"node":"Find uploaded Subfolder","type":"main","index":0}]]},"Find uploaded Subfolder":{"main":[[{"node":"Has uploaded Folder?","type":"main","index":0}]]},"Has uploaded Folder?":{"main":[[{"node":"Set uploadedFolderId","type":"main","index":0}],[{"node":"Create uploaded Folder","type":"main","index":0}]]},"Set uploadedFolderId":{"main":[[{"node":"Paddle Get Products","type":"main","index":0}]]},"Paddle Get Products":{"main":[[{"node":"List Drive Video Files","type":"main","index":0}]]},"List Drive Video Files":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Find Product by Filename":{"main":[[{"node":"Should Process?","type":"main","index":0}]]},"Should Process?":{"main":[[{"node":"Download Drive File","type":"main","index":0}],[{"node":"Record Skipped","type":"main","index":0}]]},"Download Drive File":{"main":[[{"node":"Bunny Create Video","type":"main","index":0}]]},"Bunny Create Video":{"main":[[{"node":"Attach Binary to Create Response","type":"main","index":0}]]},"Attach Binary to Create Response":{"main":[[{"node":"Bunny Upload File","type":"main","index":0}]]},"Bunny Upload File":{"main":[[{"node":"Set play_url","type":"main","index":0}]]},"Set play_url":{"main":[[{"node":"Paddle Update Product","type":"main","index":0}]]},"Paddle Update Product":{"main":[[{"node":"Move File to uploaded","type":"main","index":0}]]},"Move File to uploaded":{"main":[[{"node":"Record Uploaded","type":"main","index":0}]]},"Record Uploaded":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Loop Over Files":{"main":[[{"node":"Build Summary","type":"main","index":0}],[{"node":"Find Product by Filename","type":"main","index":0}]]},"Record Skipped":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Create uploaded Folder":{"main":[[{"node":"Set uploadedFolderId","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"95081fc8-b670-44d1-bf03-0ad2a5f2d3c7","activeVersionId":null,"versionCounter":169,"triggerCount":0,"shared":[{"updatedAt":"2026-04-04T17:08:10.942Z","createdAt":"2026-04-04T17:08:10.942Z","role":"workflow:owner","workflowId":"EIbI86eRYgx1u1DK","projectId":"37LkTomei3mXdvJm","project":{"updatedAt":"2025-07-26T15:53:18.269Z","createdAt":"2025-07-26T15:52:01.085Z","id":"37LkTomei3mXdvJm","name":"n8nops admin <sergey@souljourneys.space>","type":"personal","icon":null,"description":null,"creatorId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}}],"tags":[],"activeVersion":null}