monitoring/n8n-backups/juMZz5FfSMiQIsId.json
{"updatedAt":"2026-04-04T12:41:29.007Z","createdAt":"2025-08-20T10:13:13.569Z","id":"juMZz5FfSMiQIsId","name":"Calendar and Tasks STT","description":"Календарь и его управление","active":true,"isArchived":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"value":"sergey.khanukaev@gmail.com","mode":"list","cachedResultName":"sergey.khanukaev@gmail.com"},"start":"={{ $json.message.content.startDateTime }}","end":"={{ $json.message.content.endDateTime }}","additionalFields":{"description":"={{ $json.message.content.summary }}","summary":"={{ $json.message.content.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1056,-224],"id":"82e88c81-fd0c-4516-83a9-94d8a73ece0c","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"zRENj7fWbtXGgaQq","name":"Google Calendar account"}}},{"parameters":{"updates":["*"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-224,-224],"id":"0d3142f4-a6be-454a-9039-fbe95bf6818f","name":"Telegram Trigger","webhookId":"8ad02b1d-a944-4f6c-852f-26315d4e10c4","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60aff189-7261-43b0-9967-d2900a97bbf1","leftValue":"={{$json[\"message\"][\"voice\"]}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-224],"id":"c4d56601-9eec-4d84-b74c-0e1cd4edc420","name":"If"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,-336],"id":"73f521d5-b6f4-4fa0-940f-5f76ef5a7d62","name":"Get a file","webhookId":"63771eff-d3ee-4f0a-b381-26f179a42238","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[352,-336],"id":"bb230113-5640-4298-856d-ac191d45904a","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"QYfPbP7sjvCzAWeO","name":"ElevenLabs account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"=Ты — интеллектуальный парсер для добавления событий и задач в Google Calendar и Google Tasks.\n\nТвоя задача — из любого текста пользователя извлечь данные и вернуть их в виде ОДНОГО корректного JSON-объекта, полностью совместимого с Google API.\n\nФормат ответа строго такой:\n{\n  \"summary\": \"Краткое описание события или задачи\",\n  \"type\": \"calendar\" | \"task\",\n  \"startDateTime\": \"YYYY-MM-DDTHH:MM:SS+02:00\",\n  \"endDateTime\": \"YYYY-MM-DDTHH:MM:SS+02:00\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"notes\": \"Краткая заметка или детали (если они были в тексте, иначе пустая строка)\"\n}\n\nПравила:\n1. Используй текущую опорную дату {{ $now }} (Europe/Berlin).\n2. Любые относительные выражения («сегодня», «завтра», «через 2 часа») вычисляй относительно {{ $now }}.\n3. Всегда возвращай время вперёд во времени (никогда не в прошлом).\n4. Если время не указано — ставь 10:00.\n5. Если длительность не указана — ставь endDateTime = startDateTime + 60 минут.\n6. Для задач (type=\"task\") всё равно указывай оба времени одинаковыми.\n7. Никогда не добавляй текст вне JSON. Никаких пояснений. Только валидный JSON.","role":"system"},{"content":"={{ $json.text }}{{ $json.message.text }}"}]},"jsonOutput":true,"options":{"maxTokens":200,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,-208],"id":"d9351748-ea5c-48c0-a730-dd07ff42ec4b","name":"Message a model","credentials":{"openAiApi":{"id":"go2BbokbdljrUzKs","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17776505-87cc-4e37-9c0f-dccaedd676ec","leftValue":"={{ $json.message.content.type }}","rightValue":"calendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,-208],"id":"c18a308e-7952-414a-bccb-01540b6b750b","name":"If1"},{"parameters":{"task":"MTQzMzQ5MzExMzA2OTM5OTczMjY6MDow","title":"={{ $json.message.content.summary }}","additionalFields":{"completed":"={{ $json.message.content.startDateTime }}","dueDate":"={{ $json.message.content.endDateTime }}","notes":"={{ $json.message.content.notes }}"}},"type":"n8n-nodes-base.googleTasks","typeVersion":1,"position":[1056,-32],"id":"da04b768-9a0e-4534-8f17-f6b4183dca6a","name":"Create a task","credentials":{"googleTasksOAuth2Api":{"id":"pqefFhpQzbOqof6y","name":"Google Tasks account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4ab7387d-6df7-4133-9a71-76722c5c3c6a","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"ccb23fb5-bf33-4e52-bd35-c2e9118e40c2","name":"message","value":"={{ $json.message }}","type":"object"},{"id":"31220d1f-b8c7-4e6a-8918-1f53e16feb71","name":"message.message_id","value":"={{ $json.message.message_id }}","type":"number"},{"id":"afc088f7-1c6a-440a-a8a5-b71071fdf644","name":"message.from","value":"={{ $json.message.from }}","type":"object"},{"id":"47803f72-47e3-4956-8dc5-847f0b13b617","name":"message.from.id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"eb57ae8b-63c6-4357-8620-5a1c41316617","name":"message.from.is_bot","value":"={{ $json.message.from.is_bot }}","type":"boolean"},{"id":"1dabb5ef-7e8a-4e38-80a0-045167f111f9","name":"message.from.first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"e63380a9-ab19-4863-8d6b-1a5dd564b3a3","name":"message.from.last_name","value":"={{ $json.message.from.last_name }}","type":"string"},{"id":"09d8d9a9-c7ac-4b1c-85b3-ff87b54fe1c6","name":"message.from.username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"7616d78e-70d6-4b89-9bd2-a7896dbdfd52","name":"message.from.language_code","value":"={{ $json.message.from.language_code }}","type":"string"},{"id":"172d5236-c9af-420c-9d58-40371f4f3e2b","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"e4800fcc-3c68-410f-8aa5-83a6e051b846","name":"message.date","value":"={{ $json.message.date }}","type":"number"},{"id":"eda8c9e5-a1b8-458a-bf8e-f2e0c02b9e21","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"cea4d5d1-e099-4cc9-90db-756b5785966b","name":"message.chat.first_name","value":"={{ $json.message.chat.first_name }}","type":"string"},{"id":"db2522be-5c64-4800-959b-27ec3bca0ae4","name":"message.chat.last_name","value":"={{ $json.message.chat.last_name }}","type":"string"},{"id":"6107d20e-3bbb-4dbd-a648-1563ba731652","name":"message.chat.username","value":"={{ $json.message.chat.username }}","type":"string"},{"id":"937a47fb-b9a8-4bc2-aaea-6d532c3504f9","name":"message.chat.type","value":"={{ $json.message.chat.type }}","type":"string"},{"id":"cc454052-c04c-4aac-8265-bf8c651172ba","name":"update_id","value":"={{ $json.update_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-160],"id":"365ec3e4-8afc-4e20-8325-27a3ce13c19a","name":"Edit Fields"},{"parameters":{"chatId":"={{$json[\"message\"][\"chat\"][\"id\"]}}","text":"Сделано. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1744,-208],"id":"3f808984-84ed-4b4c-af67-752cbae2dbd2","name":"Send a text message","webhookId":"c05900ac-123c-43ce-ba61-37e563aafa1e","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b85b400b-3ec5-4ef6-96e2-575466351afc","leftValue":"={{ $json.status }}","rightValue":"confirmed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5c125aa9-220e-4192-ae14-b03920494f7b","leftValue":"={{ $json.webViewLink }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-208],"id":"c103a1c9-defb-4b8d-947d-b3fbbf61e613","name":"If2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,160],"id":"1cc9b8b0-c0f0-4f34-920e-9f816b9a32de","name":"Merge"}],"connections":{"Create an event":{"main":[[{"node":"If2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Create a task","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"If2","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"If2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fcbe6b9-5c86-4f61-8258-40f4b6e9a7ea","activeVersionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","versionCounter":35,"triggerCount":1,"shared":[{"updatedAt":"2025-08-20T10:13:13.569Z","createdAt":"2025-08-20T10:13:13.569Z","role":"workflow:owner","workflowId":"juMZz5FfSMiQIsId","projectId":"37LkTomei3mXdvJm","project":{"updatedAt":"2025-07-26T15:53:18.269Z","createdAt":"2025-07-26T15:52:01.085Z","id":"37LkTomei3mXdvJm","name":"n8nops admin <sergey@souljourneys.space>","type":"personal","icon":null,"description":null,"creatorId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-14T15:03:55.373Z","createdAt":"2026-01-14T15:03:55.373Z","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","workflowId":"juMZz5FfSMiQIsId","nodes":[{"parameters":{"calendar":{"__rl":true,"value":"sergey.khanukaev@gmail.com","mode":"list","cachedResultName":"sergey.khanukaev@gmail.com"},"start":"={{ $json.message.content.startDateTime }}","end":"={{ $json.message.content.endDateTime }}","additionalFields":{"description":"={{ $json.message.content.summary }}","summary":"={{ $json.message.content.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1056,-224],"id":"82e88c81-fd0c-4516-83a9-94d8a73ece0c","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"zRENj7fWbtXGgaQq","name":"Google Calendar account"}}},{"parameters":{"updates":["*"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-224,-224],"id":"0d3142f4-a6be-454a-9039-fbe95bf6818f","name":"Telegram Trigger","webhookId":"8ad02b1d-a944-4f6c-852f-26315d4e10c4","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60aff189-7261-43b0-9967-d2900a97bbf1","leftValue":"={{$json[\"message\"][\"voice\"]}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-224],"id":"c4d56601-9eec-4d84-b74c-0e1cd4edc420","name":"If"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,-336],"id":"73f521d5-b6f4-4fa0-940f-5f76ef5a7d62","name":"Get a file","webhookId":"63771eff-d3ee-4f0a-b381-26f179a42238","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[352,-336],"id":"bb230113-5640-4298-856d-ac191d45904a","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"RYXxdoawnvuF0xkQ","name":"ElevenLabs account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"=Ты — интеллектуальный парсер для добавления событий и задач в Google Calendar и Google Tasks.\n\nТвоя задача — из любого текста пользователя извлечь данные и вернуть их в виде ОДНОГО корректного JSON-объекта, полностью совместимого с Google API.\n\nФормат ответа строго такой:\n{\n  \"summary\": \"Краткое описание события или задачи\",\n  \"type\": \"calendar\" | \"task\",\n  \"startDateTime\": \"YYYY-MM-DDTHH:MM:SS+02:00\",\n  \"endDateTime\": \"YYYY-MM-DDTHH:MM:SS+02:00\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"notes\": \"Краткая заметка или детали (если они были в тексте, иначе пустая строка)\"\n}\n\nПравила:\n1. Используй текущую опорную дату {{ $now }} (Europe/Berlin).\n2. Любые относительные выражения («сегодня», «завтра», «через 2 часа») вычисляй относительно {{ $now }}.\n3. Всегда возвращай время вперёд во времени (никогда не в прошлом).\n4. Если время не указано — ставь 10:00.\n5. Если длительность не указана — ставь endDateTime = startDateTime + 60 минут.\n6. Для задач (type=\"task\") всё равно указывай оба времени одинаковыми.\n7. Никогда не добавляй текст вне JSON. Никаких пояснений. Только валидный JSON.","role":"system"},{"content":"={{ $json.text }}{{ $json.message.text }}"}]},"jsonOutput":true,"options":{"maxTokens":200,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,-208],"id":"d9351748-ea5c-48c0-a730-dd07ff42ec4b","name":"Message a model","credentials":{"openAiApi":{"id":"go2BbokbdljrUzKs","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17776505-87cc-4e37-9c0f-dccaedd676ec","leftValue":"={{ $json.message.content.type }}","rightValue":"calendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,-208],"id":"c18a308e-7952-414a-bccb-01540b6b750b","name":"If1"},{"parameters":{"task":"MTQzMzQ5MzExMzA2OTM5OTczMjY6MDow","title":"={{ $json.message.content.summary }}","additionalFields":{"completed":"={{ $json.message.content.startDateTime }}","dueDate":"={{ $json.message.content.endDateTime }}","notes":"={{ $json.message.content.notes }}"}},"type":"n8n-nodes-base.googleTasks","typeVersion":1,"position":[1056,-32],"id":"da04b768-9a0e-4534-8f17-f6b4183dca6a","name":"Create a task","credentials":{"googleTasksOAuth2Api":{"id":"pqefFhpQzbOqof6y","name":"Google Tasks account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4ab7387d-6df7-4133-9a71-76722c5c3c6a","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"ccb23fb5-bf33-4e52-bd35-c2e9118e40c2","name":"message","value":"={{ $json.message }}","type":"object"},{"id":"31220d1f-b8c7-4e6a-8918-1f53e16feb71","name":"message.message_id","value":"={{ $json.message.message_id }}","type":"number"},{"id":"afc088f7-1c6a-440a-a8a5-b71071fdf644","name":"message.from","value":"={{ $json.message.from }}","type":"object"},{"id":"47803f72-47e3-4956-8dc5-847f0b13b617","name":"message.from.id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"eb57ae8b-63c6-4357-8620-5a1c41316617","name":"message.from.is_bot","value":"={{ $json.message.from.is_bot }}","type":"boolean"},{"id":"1dabb5ef-7e8a-4e38-80a0-045167f111f9","name":"message.from.first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"e63380a9-ab19-4863-8d6b-1a5dd564b3a3","name":"message.from.last_name","value":"={{ $json.message.from.last_name }}","type":"string"},{"id":"09d8d9a9-c7ac-4b1c-85b3-ff87b54fe1c6","name":"message.from.username","value":"={{ $json.message.from.username }}","type":"string"},{"id":"7616d78e-70d6-4b89-9bd2-a7896dbdfd52","name":"message.from.language_code","value":"={{ $json.message.from.language_code }}","type":"string"},{"id":"172d5236-c9af-420c-9d58-40371f4f3e2b","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"e4800fcc-3c68-410f-8aa5-83a6e051b846","name":"message.date","value":"={{ $json.message.date }}","type":"number"},{"id":"eda8c9e5-a1b8-458a-bf8e-f2e0c02b9e21","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"cea4d5d1-e099-4cc9-90db-756b5785966b","name":"message.chat.first_name","value":"={{ $json.message.chat.first_name }}","type":"string"},{"id":"db2522be-5c64-4800-959b-27ec3bca0ae4","name":"message.chat.last_name","value":"={{ $json.message.chat.last_name }}","type":"string"},{"id":"6107d20e-3bbb-4dbd-a648-1563ba731652","name":"message.chat.username","value":"={{ $json.message.chat.username }}","type":"string"},{"id":"937a47fb-b9a8-4bc2-aaea-6d532c3504f9","name":"message.chat.type","value":"={{ $json.message.chat.type }}","type":"string"},{"id":"cc454052-c04c-4aac-8265-bf8c651172ba","name":"update_id","value":"={{ $json.update_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-160],"id":"365ec3e4-8afc-4e20-8325-27a3ce13c19a","name":"Edit Fields"},{"parameters":{"chatId":"={{$json[\"message\"][\"chat\"][\"id\"]}}","text":"Сделано. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1744,-208],"id":"3f808984-84ed-4b4c-af67-752cbae2dbd2","name":"Send a text message","webhookId":"c05900ac-123c-43ce-ba61-37e563aafa1e","credentials":{"telegramApi":{"id":"FeaqRGwPfujKNSZU","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b85b400b-3ec5-4ef6-96e2-575466351afc","leftValue":"={{ $json.status }}","rightValue":"confirmed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5c125aa9-220e-4192-ae14-b03920494f7b","leftValue":"={{ $json.webViewLink }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-208],"id":"c103a1c9-defb-4b8d-947d-b3fbbf61e613","name":"If2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,160],"id":"1cc9b8b0-c0f0-4f34-920e-9f816b9a32de","name":"Merge"}],"connections":{"Create an event":{"main":[[{"node":"If2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Create a task","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"If2","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"If2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-10-09T14:39:00.829Z","id":3,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"activated","userId":null},{"createdAt":"2026-03-24T11:07:48.458Z","id":12,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:07:48.639Z","id":13,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T12:26:32.298Z","id":14,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T12:26:32.482Z","id":15,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-27T16:52:08.661Z","id":18,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-27T16:52:08.965Z","id":19,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-04-04T12:41:29.267Z","id":23,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-04-04T12:41:29.432Z","id":24,"workflowId":"juMZz5FfSMiQIsId","versionId":"b66ba858-4b88-42b9-b6fe-0ad143f3389a","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}]}}