monitoring/n8n-backups/NUcfNK5zUDNiKXH3.json
{"updatedAt":"2026-04-11T16:19:49.435Z","createdAt":"2025-07-30T09:08:34.062Z","id":"NUcfNK5zUDNiKXH3","name":"Paddle Order Processing","description":"Processing Paddle orders  - Delivery","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"5692d662-90f5-4e31-a4d2-5678d2fd1230","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-528,-192],"id":"0f55773a-d478-40b4-94c8-a338f9c1124e","name":"Webhook","webhookId":"5692d662-90f5-4e31-a4d2-5678d2fd1230"},{"parameters":{"url":"=https://api.paddle.com/customers/{{ $json.body.data.customer_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-80],"id":"1ecff07d-e67a-476f-b01c-ce43a42202d4","name":"HTTP Request","retryOnFail":false,"alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"type":"SHA256","value":"={{ $json.url.base_string }}","dataPropertyName":"=token_enc"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-64,80],"id":"8f30c989-960e-4fc8-8422-fe0914a684a0","name":"Crypto"},{"parameters":{"url":"=https://api.paddle.com/products/{{ $json.body.data.items[0].price.product_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,80],"id":"34429c8d-e72e-4864-8f9e-27246b7a33cf","name":"Get custom Data","credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9db25c9-ff48-480e-a386-60fcf28d8e7d","name":"url.play_url\t","value":"={{ $json.data.custom_data.play_url }}","type":"string"},{"id":"34d2bfb4-8341-464f-afac-b2ed90bf6070","name":"url.validity_days","value":"={{ $json.data.custom_data.validity_days }}","type":"string"},{"id":"fd8606b0-fc80-4160-97c9-20b89f15383f","name":"url.library_id","value":"={{ $json.data.custom_data.play_url .split(\"/\")[4]}}","type":"string"},{"id":"6a8e27e8-d5b2-4e87-8621-42690502bae3","name":"url.video_id","value":"={{ $json.data.custom_data.play_url .split(\"/\")[5]}}","type":"string"},{"id":"ef9fcef6-53b3-4ec1-abb3-865365c02d1d","name":"url.expires_at","value":"={{ Math.floor(Date.now() / 1000) +  $json.data.custom_data.validity_days  * 86400 }}","type":"string"},{"id":"13788c93-a278-4294-bc66-1a91611eacb6","name":"url.base_string","value":"={{\"63a35452-f23f-43b4-bc32-53569c0c4183\" + $json.data.custom_data.play_url .split(\"/\")[5] + (Math.floor(Date.now() / 1000) +  $json.data.custom_data.validity_days  * 86400)}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,80],"id":"73730727-097c-4efd-a342-0b8a9f2e4404","name":"Define fields for Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"2c84b6ad-211e-4103-bed7-552742cffc3d","name":"url.play_url","value":"={{ $json.url[\"play_url\t\"] }}","type":"string"},{"id":"f9b121b0-80f1-4e8b-95f9-03d2afdf38a1","name":"url.validity_days","value":"={{ $json.url.validity_days }}","type":"string"},{"id":"b434761c-8707-4cf6-a902-1f00b5ea3781","name":"=url.enc_url","value":"={{ \"https://iframe.mediadelivery.net/embed/\" + $json.url.library_id + \"/\" + $json.url.video_id + \"?token=\" +  $json.token_enc + \"&expires=\" + $json.url.expires_at }}","type":"string"},{"id":"82081945-26fa-4722-9616-63945683bd0b","name":"url.expires_at","value":"={{ $json.url.expires_at }}","type":"string"},{"id":"8307bacb-b461-4594-a794-f7b896624f18","name":"url.valid_human","value":"={{ new Date($json.url.expires_at * 1000).toLocaleString(\"en-GB\", { timeZone: \"UTC\" }) }}","type":"string"},{"id":"61a30fd7-8553-4e63-bd72-78c8018e8a68","name":"url.token_enc","value":"={{ $json.token_enc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,80],"id":"bbc3e1a8-c943-41df-9659-bd688bf145ed","name":"Combine URL and data"},{"parameters":{"assignments":{"assignments":[{"id":"a1ad4bd4-c9b4-4f14-8a39-d87e5060e461","name":"data.customer_id ","value":"={{ $json.data.id }}","type":"string"},{"id":"6c442316-f9b1-4239-a7f0-27ae8519835e","name":"","value":"","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"={{ $json.data.id }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-80],"id":"358d3dba-c187-4002-8239-26745e5073c7","name":"Map Data array"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[208,-176],"id":"6f1f811c-aabb-4298-af31-8e383739c2fc","name":"Merge1"},{"parameters":{"fromEmail":"mailings@souljourneys.space","toEmail":"={{ $json.data.email }}","subject":"=Your access to Soul Journeys, {{$json.body.data.payments[0].method_details.card.cardholder_name }}","text":"=Hello {{$json.body.data.payments[0].method_details.card.cardholder_name }},\n\nWe’re truly delighted to welcome you to Soul Journeys. This is your personal time — a moment to step away from the rush of daily life and immerse yourself in a sound experience created to help you unwind, release tension, and reconnect with yourself.\n\nThank you for trusting us to guide you on this journey.\n\nHere is the link to access your session \n{{$json.body.data.details.line_items[0].product.name }}:\nAccess link (valid for 30 days): \n{{ $json.url.enc_url }}\nIf the link doesn’t open when clicked, please copy and paste it into the address bar of your browser — it will work on both desktop and mobile devices.\n\nPrepare Your Space Before You Press Play\n- Find a quiet spot where you won’t be interrupted and slip on a pair of good headphones — the sound is optimised for them.\n- Lie down if possible and drape a light cloth over your eyes to dim any stray light.\n- If you’re listening on a phone, switch to Do Not Disturb so notifications can’t pull you out of the session.\n- Start with the spoken introduction and follow it attentively — it’s an essential part of the journey, not a pre-show.\n- Keep the volume at a comfortable level and avoid using the player while driving or operating machinery.\n- When everything feels settled, press play and permit yourself to be carried by Soul Journeys.\n\nRead full listening guide: https://souljourneys.space/wp-content/uploads/2025/06/Soul-Journeys-Session-Guide.pdf\n\n\nImportant:\nSoul Journeys is a sound-based personal practice for relaxation, emotional release, and mental clarity. It is not a medical treatment, psychotherapy, or a substitute for professional healthcare. Participation is voluntary and at your own risk. If you have epilepsy triggered by sound or other medical conditions, consult a qualified healthcare provider before starting.\n\nAll sales are final. By accessing the session, you acknowledge and accept our No-Refund Waiver, meaning you understand that once purchased, the session is non-refundable and non-exchangeable.\n\nYou also agree to our Terms and Conditions and Privacy Policy:\n- Terms and Conditions: https://souljourneys.space/terms-of-service/\n- Privacy Policy: https://souljourneys.space/privacy-policy/\n- Disclaimer: \nhttps://souljourneys.space/wp-content/uploads/2025/06/Soul-Journeys-Disclaimer.pdf\n\nWishing you a meaningful and restorative journey,\nThe Soul Journeys Team\n","additionalFields":{"fromName":"Soul Journeys Session Access"}},"type":"n8n-nodes-base.mailjet","typeVersion":1,"position":[576,224],"id":"15a1d9b6-5b08-4dd8-91c9-a8e73f16bf07","name":"Send an email template","credentials":{"mailjetEmailApi":{"id":"l43fbN38lrvI7tz6","name":"Mailjet Email account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU","mode":"list","cachedResultName":"Access Ledger","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"AccessList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"order_id":"={{ $json.body.data.id }}","email":"={{ $json.data.email }}","name":"={{ $json.body.data.payments[0].method_details.card.cardholder_name }}","product_id":"={{ $json.body.data.details.line_items[0].product.id }}","product_name":"={{ $json.body.data.details.line_items[0].product.name }}","price_usd":"={{ $json.body.data.details.line_items[0].unit_totals.total }}","video_id":"={{ $json.url.play_url.split(\"/\")[5] }}","library_id":"={{ $json.url.play_url.split(\"/\")[4] }}","play_url":"={{ $json.url.play_url}}","signed_url":"={{ $json.url.enc_url }}","validity_days":"={{ $json.url.validity_days }}","expires_unix":"={{ $json.url.expires_at }}","expires_human":"={{ $json.url.valid_human }}","purchase_date":"={{ $json.body.data.billed_at.split(\".\")[0] }}","subscription_ok":"={{ $json.data.marketing_consent }}","session_name":"={{ $json.body.data.details.line_items[0].product.name }}"},"matchingColumns":[],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"product_id","displayName":"product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"product_name","displayName":"product_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"price_usd","displayName":"price_usd","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"library_id","displayName":"library_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"play_url","displayName":"play_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"signed_url","displayName":"signed_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"validity_days","displayName":"validity_days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expires_unix","displayName":"expires_unix","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expires_human","displayName":"expires_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"purchase_date","displayName":"purchase_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subscription_ok","displayName":"subscription_ok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_to_mautic","displayName":"sent_to_mautic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_name","displayName":"session_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"access_status","displayName":"access_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[928,-160],"id":"322fb916-20bc-4a59-b411-9aba530f67a3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"sIBTxmgJNSFTasZX","name":"Google Sheets account"}}},{"parameters":{"authentication":"oAuth2","email":"={{ $json.data.email }}","firstName":"={{ $json.body.data.payments[0].method_details.card.cardholder_name.split(\" \")[0] }}","lastName":"={{ $json.body.data.payments[0].method_details.card.cardholder_name.split(\" \")[1] }}","company":"=","additionalFields":{"customFieldsUi":{"customFieldValues":[{"fieldId":"product_name","fieldValue":"={{ $json.body.data.details.line_items[0].product.name }}"},{"fieldId":"expires_human","fieldValue":"={{ $json.url.valid_human }}"},{"fieldId":"signed_url","fieldValue":"={{ $json.url.enc_url }}"},{"fieldId":"newsletter_consent","fieldValue":"={{ $json.data.marketing_consent === true ? \"SJ-Buyers,Newsletter\" : \"SJ-Buyers\" }}\n"}]},"hasPurchased":true,"tags":["SJ-Buyers"]},"options":{}},"type":"n8n-nodes-base.mautic","typeVersion":1,"position":[768,32],"id":"bab2fdfc-7bde-4167-a535-dc43d34434ef","name":"Create a contact1","credentials":{"mauticOAuth2Api":{"id":"mVvynyikqRolG24n","name":"Mautic account"}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Get custom Data","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Map Data array","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Combine URL and data","type":"main","index":0}]]},"Get custom Data":{"main":[[{"node":"Define fields for Crypto","type":"main","index":0}]]},"Define fields for Crypto":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Combine URL and data":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Map Data array":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Create a contact1","type":"main","index":0},{"node":"Send an email template","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Send an email template":{"main":[[]]},"Append row in sheet":{"main":[[]]},"Create a contact1":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32b43921-6106-420b-9e51-9e6208102c7c","activeVersionId":"32b43921-6106-420b-9e51-9e6208102c7c","versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2025-07-30T09:08:34.062Z","createdAt":"2025-07-30T09:08:34.062Z","role":"workflow:owner","workflowId":"NUcfNK5zUDNiKXH3","projectId":"37LkTomei3mXdvJm","project":{"updatedAt":"2025-07-26T15:53:18.269Z","createdAt":"2025-07-26T15:52:01.085Z","id":"37LkTomei3mXdvJm","name":"n8nops admin <sergey@souljourneys.space>","type":"personal","icon":null,"description":null,"creatorId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-11T21:13:14.835Z","createdAt":"2026-04-11T16:19:49.439Z","versionId":"32b43921-6106-420b-9e51-9e6208102c7c","workflowId":"NUcfNK5zUDNiKXH3","nodes":[{"parameters":{"httpMethod":"POST","path":"5692d662-90f5-4e31-a4d2-5678d2fd1230","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-528,-192],"id":"0f55773a-d478-40b4-94c8-a338f9c1124e","name":"Webhook","webhookId":"5692d662-90f5-4e31-a4d2-5678d2fd1230"},{"parameters":{"url":"=https://api.paddle.com/customers/{{ $json.body.data.customer_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,-80],"id":"1ecff07d-e67a-476f-b01c-ce43a42202d4","name":"HTTP Request","retryOnFail":false,"alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"type":"SHA256","value":"={{ $json.url.base_string }}","dataPropertyName":"=token_enc"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-64,80],"id":"8f30c989-960e-4fc8-8422-fe0914a684a0","name":"Crypto"},{"parameters":{"url":"=https://api.paddle.com/products/{{ $json.body.data.items[0].price.product_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,80],"id":"34429c8d-e72e-4864-8f9e-27246b7a33cf","name":"Get custom Data","credentials":{"httpBearerAuth":{"id":"uyuUsTklxjWxORgo","name":"Bearer Auth Paddle account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9db25c9-ff48-480e-a386-60fcf28d8e7d","name":"url.play_url\t","value":"={{ $json.data.custom_data.play_url }}","type":"string"},{"id":"34d2bfb4-8341-464f-afac-b2ed90bf6070","name":"url.validity_days","value":"={{ $json.data.custom_data.validity_days }}","type":"string"},{"id":"fd8606b0-fc80-4160-97c9-20b89f15383f","name":"url.library_id","value":"={{ $json.data.custom_data.play_url .split(\"/\")[4]}}","type":"string"},{"id":"6a8e27e8-d5b2-4e87-8621-42690502bae3","name":"url.video_id","value":"={{ $json.data.custom_data.play_url .split(\"/\")[5]}}","type":"string"},{"id":"ef9fcef6-53b3-4ec1-abb3-865365c02d1d","name":"url.expires_at","value":"={{ Math.floor(Date.now() / 1000) +  $json.data.custom_data.validity_days  * 86400 }}","type":"string"},{"id":"13788c93-a278-4294-bc66-1a91611eacb6","name":"url.base_string","value":"={{\"63a35452-f23f-43b4-bc32-53569c0c4183\" + $json.data.custom_data.play_url .split(\"/\")[5] + (Math.floor(Date.now() / 1000) +  $json.data.custom_data.validity_days  * 86400)}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,80],"id":"73730727-097c-4efd-a342-0b8a9f2e4404","name":"Define fields for Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"2c84b6ad-211e-4103-bed7-552742cffc3d","name":"url.play_url","value":"={{ $json.url[\"play_url\t\"] }}","type":"string"},{"id":"f9b121b0-80f1-4e8b-95f9-03d2afdf38a1","name":"url.validity_days","value":"={{ $json.url.validity_days }}","type":"string"},{"id":"b434761c-8707-4cf6-a902-1f00b5ea3781","name":"=url.enc_url","value":"={{ \"https://iframe.mediadelivery.net/embed/\" + $json.url.library_id + \"/\" + $json.url.video_id + \"?token=\" +  $json.token_enc + \"&expires=\" + $json.url.expires_at }}","type":"string"},{"id":"82081945-26fa-4722-9616-63945683bd0b","name":"url.expires_at","value":"={{ $json.url.expires_at }}","type":"string"},{"id":"8307bacb-b461-4594-a794-f7b896624f18","name":"url.valid_human","value":"={{ new Date($json.url.expires_at * 1000).toLocaleString(\"en-GB\", { timeZone: \"UTC\" }) }}","type":"string"},{"id":"61a30fd7-8553-4e63-bd72-78c8018e8a68","name":"url.token_enc","value":"={{ $json.token_enc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,80],"id":"bbc3e1a8-c943-41df-9659-bd688bf145ed","name":"Combine URL and data"},{"parameters":{"assignments":{"assignments":[{"id":"a1ad4bd4-c9b4-4f14-8a39-d87e5060e461","name":"data.customer_id ","value":"={{ $json.data.id }}","type":"string"},{"id":"6c442316-f9b1-4239-a7f0-27ae8519835e","name":"","value":"","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"={{ $json.data.id }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-80],"id":"358d3dba-c187-4002-8239-26745e5073c7","name":"Map Data array"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[208,-176],"id":"6f1f811c-aabb-4298-af31-8e383739c2fc","name":"Merge1"},{"parameters":{"fromEmail":"mailings@souljourneys.space","toEmail":"={{ $json.data.email }}","subject":"=Your access to Soul Journeys, {{$json.body.data.payments[0].method_details.card.cardholder_name }}","text":"=Hello {{$json.body.data.payments[0].method_details.card.cardholder_name }},\n\nWe’re truly delighted to welcome you to Soul Journeys. This is your personal time — a moment to step away from the rush of daily life and immerse yourself in a sound experience created to help you unwind, release tension, and reconnect with yourself.\n\nThank you for trusting us to guide you on this journey.\n\nHere is the link to access your session \n{{$json.body.data.details.line_items[0].product.name }}:\nAccess link (valid for 30 days): \n{{ $json.url.enc_url }}\nIf the link doesn’t open when clicked, please copy and paste it into the address bar of your browser — it will work on both desktop and mobile devices.\n\nPrepare Your Space Before You Press Play\n- Find a quiet spot where you won’t be interrupted and slip on a pair of good headphones — the sound is optimised for them.\n- Lie down if possible and drape a light cloth over your eyes to dim any stray light.\n- If you’re listening on a phone, switch to Do Not Disturb so notifications can’t pull you out of the session.\n- Start with the spoken introduction and follow it attentively — it’s an essential part of the journey, not a pre-show.\n- Keep the volume at a comfortable level and avoid using the player while driving or operating machinery.\n- When everything feels settled, press play and permit yourself to be carried by Soul Journeys.\n\nRead full listening guide: https://souljourneys.space/wp-content/uploads/2025/06/Soul-Journeys-Session-Guide.pdf\n\n\nImportant:\nSoul Journeys is a sound-based personal practice for relaxation, emotional release, and mental clarity. It is not a medical treatment, psychotherapy, or a substitute for professional healthcare. Participation is voluntary and at your own risk. If you have epilepsy triggered by sound or other medical conditions, consult a qualified healthcare provider before starting.\n\nAll sales are final. By accessing the session, you acknowledge and accept our No-Refund Waiver, meaning you understand that once purchased, the session is non-refundable and non-exchangeable.\n\nYou also agree to our Terms and Conditions and Privacy Policy:\n- Terms and Conditions: https://souljourneys.space/terms-of-service/\n- Privacy Policy: https://souljourneys.space/privacy-policy/\n- Disclaimer: \nhttps://souljourneys.space/wp-content/uploads/2025/06/Soul-Journeys-Disclaimer.pdf\n\nWishing you a meaningful and restorative journey,\nThe Soul Journeys Team\n","additionalFields":{"fromName":"Soul Journeys Session Access"}},"type":"n8n-nodes-base.mailjet","typeVersion":1,"position":[576,224],"id":"15a1d9b6-5b08-4dd8-91c9-a8e73f16bf07","name":"Send an email template","credentials":{"mailjetEmailApi":{"id":"l43fbN38lrvI7tz6","name":"Mailjet Email account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU","mode":"list","cachedResultName":"Access Ledger","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"AccessList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148SlK-Bu-hPVELwp201FC1-6eOp8tYnrtZ1UhU_SFyU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"order_id":"={{ $json.body.data.id }}","email":"={{ $json.data.email }}","name":"={{ $json.body.data.payments[0].method_details.card.cardholder_name }}","product_id":"={{ $json.body.data.details.line_items[0].product.id }}","product_name":"={{ $json.body.data.details.line_items[0].product.name }}","price_usd":"={{ $json.body.data.details.line_items[0].unit_totals.total }}","video_id":"={{ $json.url.play_url.split(\"/\")[5] }}","library_id":"={{ $json.url.play_url.split(\"/\")[4] }}","play_url":"={{ $json.url.play_url}}","signed_url":"={{ $json.url.enc_url }}","validity_days":"={{ $json.url.validity_days }}","expires_unix":"={{ $json.url.expires_at }}","expires_human":"={{ $json.url.valid_human }}","purchase_date":"={{ $json.body.data.billed_at.split(\".\")[0] }}","subscription_ok":"={{ $json.data.marketing_consent }}","session_name":"={{ $json.body.data.details.line_items[0].product.name }}"},"matchingColumns":[],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"product_id","displayName":"product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"product_name","displayName":"product_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"price_usd","displayName":"price_usd","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"library_id","displayName":"library_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"play_url","displayName":"play_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"signed_url","displayName":"signed_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"validity_days","displayName":"validity_days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expires_unix","displayName":"expires_unix","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expires_human","displayName":"expires_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"purchase_date","displayName":"purchase_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subscription_ok","displayName":"subscription_ok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_to_mautic","displayName":"sent_to_mautic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_name","displayName":"session_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"access_status","displayName":"access_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[928,-160],"id":"322fb916-20bc-4a59-b411-9aba530f67a3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"sIBTxmgJNSFTasZX","name":"Google Sheets account"}}},{"parameters":{"authentication":"oAuth2","email":"={{ $json.data.email }}","firstName":"={{ $json.body.data.payments[0].method_details.card.cardholder_name.split(\" \")[0] }}","lastName":"={{ $json.body.data.payments[0].method_details.card.cardholder_name.split(\" \")[1] }}","company":"=","additionalFields":{"customFieldsUi":{"customFieldValues":[{"fieldId":"product_name","fieldValue":"={{ $json.body.data.details.line_items[0].product.name }}"},{"fieldId":"expires_human","fieldValue":"={{ $json.url.valid_human }}"},{"fieldId":"signed_url","fieldValue":"={{ $json.url.enc_url }}"},{"fieldId":"newsletter_consent","fieldValue":"={{ $json.data.marketing_consent === true ? \"SJ-Buyers,Newsletter\" : \"SJ-Buyers\" }}\n"}]},"hasPurchased":true,"tags":["SJ-Buyers"]},"options":{}},"type":"n8n-nodes-base.mautic","typeVersion":1,"position":[768,32],"id":"bab2fdfc-7bde-4167-a535-dc43d34434ef","name":"Create a contact1","credentials":{"mauticOAuth2Api":{"id":"mVvynyikqRolG24n","name":"Mautic account"}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Get custom Data","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Map Data array","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Combine URL and data","type":"main","index":0}]]},"Get custom Data":{"main":[[{"node":"Define fields for Crypto","type":"main","index":0}]]},"Define fields for Crypto":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Combine URL and data":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Map Data array":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Create a contact1","type":"main","index":0},{"node":"Send an email template","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Send an email template":{"main":[[]]},"Append row in sheet":{"main":[[]]},"Create a contact1":{"main":[[]]}},"authors":"n8nops admin","name":"Version 32b43921","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-11T21:13:14.830Z","id":31,"workflowId":"NUcfNK5zUDNiKXH3","versionId":"32b43921-6106-420b-9e51-9e6208102c7c","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}]}}