monitoring/n8n-backups/OAoK2fN6IvnFCwHY.json
{"updatedAt":"2026-03-24T11:07:20.301Z","createdAt":"2025-07-30T12:14:30.771Z","id":"OAoK2fN6IvnFCwHY","name":"Scrape recent news about a company before a call","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"apiKey","stringValue":"8da7e3752ae844b19003f08a1ffbed59"},{"name":"newsAge","type":"numberValue","numberValue":"30"},{"name":"maxArticles","stringValue":"20"},{"name":"emails","stringValue":"sergey@souljourneys.space"}]},"options":{}},"id":"9aa9fa6c-5ccb-4f2b-b6a8-2b91f4a58355","name":"Setup","type":"n8n-nodes-base.set","position":[592,608],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"companyName","stringValue":"={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"}]},"options":{}},"id":"6f471217-b69b-4f67-981d-c7c1e2d710b6","name":"Extract company name","type":"n8n-nodes-base.set","position":[1280,400],"typeVersion":3.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"ddfa92e0-ff37-4733-9002-65fe21989d8a","name":"Every morning @ 7","type":"n8n-nodes-base.scheduleTrigger","position":[368,608],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bcfb06b1-d365-43a8-9802-869529baca98","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"call with"},{"id":"4ea43ccf-d586-4985-87db-fc1e9f734351","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"meeting with"}],"combinator":"or"},"options":{}},"id":"b71c3683-6077-41b4-ab23-66ee22f64532","name":"Filter meetings","type":"n8n-nodes-base.if","position":[1008,608],"typeVersion":2},{"parameters":{"url":"=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title","options":{}},"id":"34c4241e-e29a-4d9a-b8a8-130b9f19383f","name":"Get latest news","type":"n8n-nodes-base.httpRequest","position":[1472,400],"typeVersion":4.1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"},"id":"51059db7-5fec-4287-bf3f-a6a4e76ac5a4","name":"Format for email","type":"n8n-nodes-base.code","position":[1680,400],"typeVersion":2},{"parameters":{"sendTo":"={{ $('Setup').first().json.emails }}","subject":"=Latest news for '{{ $('Extract company name').item.json.summary }}'","message":"={{ $json.html }}","options":{}},"id":"9b4351a8-edf9-49ef-829e-6998cb1eea2c","name":"Send news","type":"n8n-nodes-base.gmail","position":[1872,400],"typeVersion":2.1,"webhookId":"c561b7e0-c1d3-484e-aa1f-0752a35928b2","credentials":{"gmailOAuth2":{"id":"NEUdj2OpAdxHYUaH","name":"Gmail account"}}},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas","height":511.499984507795},"id":"182504b0-3cf6-4afe-ba93-1d2bf7a02fa3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[528,576],"typeVersion":1},{"parameters":{},"id":"318b2bdc-712f-42a8-b224-8f0dc2c9c4e5","name":"No meetings today","type":"n8n-nodes-base.noOp","position":[1872,624],"typeVersion":1},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"sergey.khanukaev@gmail.com","mode":"list","cachedResultName":"sergey.khanukaev@gmail.com"},"options":{"timeMin":"={{ $today }}","timeMax":"={{ $today.plus({ days: 1 }) }}","singleEvents":true}},"id":"96b075cd-5c16-453e-93a6-348b22b704bb","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[832,608],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"zRENj7fWbtXGgaQq","name":"Google Calendar account"}}}],"connections":{"Setup":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Filter meetings":{"main":[[{"node":"Extract company name","type":"main","index":0}],[{"node":"No meetings today","type":"main","index":0}]]},"Get latest news":{"main":[[{"node":"Format for email","type":"main","index":0}]]},"Format for email":{"main":[[{"node":"Send news","type":"main","index":0}]]},"Every morning @ 7":{"main":[[{"node":"Setup","type":"main","index":0}]]},"Extract company name":{"main":[[{"node":"Get latest news","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Filter meetings","type":"main","index":0}]]}},"settings":{"availableInMCP":false},"staticData":{"node:Every morning @ 7":{"recurrenceRules":[]}},"meta":{"templateId":"2110"},"pinData":{},"versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","activeVersionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","versionCounter":34,"triggerCount":1,"shared":[{"updatedAt":"2025-07-30T12:14:30.771Z","createdAt":"2025-07-30T12:14:30.771Z","role":"workflow:owner","workflowId":"OAoK2fN6IvnFCwHY","projectId":"37LkTomei3mXdvJm","project":{"updatedAt":"2025-07-26T15:53:18.269Z","createdAt":"2025-07-26T15:52:01.085Z","id":"37LkTomei3mXdvJm","name":"n8nops admin <sergey@souljourneys.space>","type":"personal","icon":null,"description":null,"creatorId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-14T15:03:55.373Z","createdAt":"2026-01-14T15:03:55.373Z","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","workflowId":"OAoK2fN6IvnFCwHY","nodes":[{"parameters":{"fields":{"values":[{"name":"apiKey","stringValue":"8da7e3752ae844b19003f08a1ffbed59"},{"name":"newsAge","type":"numberValue","numberValue":"30"},{"name":"maxArticles","stringValue":"20"},{"name":"emails","stringValue":"sergey@souljourneys.space"}]},"options":{}},"id":"9aa9fa6c-5ccb-4f2b-b6a8-2b91f4a58355","name":"Setup","type":"n8n-nodes-base.set","position":[592,608],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"companyName","stringValue":"={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"}]},"options":{}},"id":"6f471217-b69b-4f67-981d-c7c1e2d710b6","name":"Extract company name","type":"n8n-nodes-base.set","position":[1280,400],"typeVersion":3.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"ddfa92e0-ff37-4733-9002-65fe21989d8a","name":"Every morning @ 7","type":"n8n-nodes-base.scheduleTrigger","position":[368,608],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bcfb06b1-d365-43a8-9802-869529baca98","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"call with"},{"id":"4ea43ccf-d586-4985-87db-fc1e9f734351","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.summary.toLowerCase() }}","rightValue":"meeting with"}],"combinator":"or"},"options":{}},"id":"b71c3683-6077-41b4-ab23-66ee22f64532","name":"Filter meetings","type":"n8n-nodes-base.if","position":[1008,608],"typeVersion":2},{"parameters":{"url":"=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title","options":{}},"id":"34c4241e-e29a-4d9a-b8a8-130b9f19383f","name":"Get latest news","type":"n8n-nodes-base.httpRequest","position":[1472,400],"typeVersion":4.1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"},"id":"51059db7-5fec-4287-bf3f-a6a4e76ac5a4","name":"Format for email","type":"n8n-nodes-base.code","position":[1680,400],"typeVersion":2},{"parameters":{"sendTo":"={{ $('Setup').first().json.emails }}","subject":"=Latest news for '{{ $('Extract company name').item.json.summary }}'","message":"={{ $json.html }}","options":{}},"id":"9b4351a8-edf9-49ef-829e-6998cb1eea2c","name":"Send news","type":"n8n-nodes-base.gmail","position":[1872,400],"typeVersion":2.1,"webhookId":"c561b7e0-c1d3-484e-aa1f-0752a35928b2","credentials":{"gmailOAuth2":{"id":"NEUdj2OpAdxHYUaH","name":"Gmail account"}}},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas","height":511.499984507795},"id":"182504b0-3cf6-4afe-ba93-1d2bf7a02fa3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[528,576],"typeVersion":1},{"parameters":{},"id":"318b2bdc-712f-42a8-b224-8f0dc2c9c4e5","name":"No meetings today","type":"n8n-nodes-base.noOp","position":[1872,624],"typeVersion":1},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"sergey.khanukaev@gmail.com","mode":"list","cachedResultName":"sergey.khanukaev@gmail.com"},"options":{"timeMin":"={{ $today }}","timeMax":"={{ $today.plus({ days: 1 }) }}","singleEvents":true}},"id":"96b075cd-5c16-453e-93a6-348b22b704bb","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[832,608],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"zRENj7fWbtXGgaQq","name":"Google Calendar account"}}}],"connections":{"Setup":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Filter meetings":{"main":[[{"node":"Extract company name","type":"main","index":0}],[{"node":"No meetings today","type":"main","index":0}]]},"Get latest news":{"main":[[{"node":"Format for email","type":"main","index":0}]]},"Format for email":{"main":[[{"node":"Send news","type":"main","index":0}]]},"Every morning @ 7":{"main":[[{"node":"Setup","type":"main","index":0}]]},"Extract company name":{"main":[[{"node":"Get latest news","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Filter meetings","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-08-09T19:25:52.335Z","id":2,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"activated","userId":null},{"createdAt":"2026-03-23T21:49:19.633Z","id":4,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-23T21:49:19.688Z","id":5,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:06:57.359Z","id":6,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:06:57.408Z","id":7,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:07:10.177Z","id":8,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:07:10.206Z","id":9,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:07:20.361Z","id":10,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"deactivated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"},{"createdAt":"2026-03-24T11:07:20.388Z","id":11,"workflowId":"OAoK2fN6IvnFCwHY","versionId":"3711ea00-aa12-4f01-aebd-f9abcf58d4f4","event":"activated","userId":"fbef0cd1-2fcd-406f-bbb2-a62887e213d8"}]}}